{% extends 'ecommerce/base.html' %}
{% load static %}

{% block content %}
<section class="h-100" style="background-color: #eee;">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center  h-100">
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mt-5 text-black raleway">Carrito de compras</h3>
                </div>
                <hr>
                {% for item in cart %}
                {% with product=item.product %}
                <div class="card rounded-3 mb-4" data-product-id="{{ product.id }}">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url }}" class="img-fluid rounded-3"
                                        alt="Imagen_Producto">
                                </a>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <a class="lead fw-normal mb-2 text-info text-reset text-decoration-none raleway"
                                    href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                    <input class="btn btn-danger" type="submit" value="Remove">
                                    {% csrf_token %}
                                </form>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.override }}
                                    <input class="btn btn-success" type="submit" value="Update">
                                    {% csrf_token %}
                                </form>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">${{ product.price }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% empty %}
                <p>El carrito se encuentra vacío</p>
                {% endfor %}
                {% if cart %}
                <div class="card">
                    <div class="card-body row">
                        <div class="card-body col-sm-6 col-md-6 col-lg-6 text-center">
                            <h4 class="m-0" id="total">Total: ${{ cart.get_total_price }}</h4>
                        </div>
                        <div class="card-body col-sm-6 col-md-6 col-lg-6 text-center">
                            <a href="{% url 'orders:order_create' %}" class="btn btn-success btn-block btn-lg raleway"
                                id="complete-order" type="submit"> Proceder al pago
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}